header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    list-style: none;
    margin: 0 40px;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 24px;
    
}

.headerMenu{
    height: 64px;
    background-color: #F78829;
}

.header_img{
    width: 100%; height: 640px;
    object-fit: cover;
    object-position: 50% 100%;
}

main{
    position: relative;
    margin: auto;
    width: 905px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight:700;
}

main h2{
    font-size: 25px;
    background-image: url(img/黄ふうせん_copy.png);
    background-repeat: no-repeat;
    background-size: contain;

    padding-left: 3rem;
}

main p{
    padding: 0 5rem;
    font-size: 16.5px;
    font-weight: lighter;
}

footer{
    width: 100%;
    height: 253px;
    background-color: #F78829;
}


.menu{
    display: flex;
    text-align: left;
    margin-left: 8%;
    /*background-color: #2811d7;   範囲を確認するため　後で削除する*/
}

.menu li{
    list-style: none;
    padding-top: 150px;
    font-size: 20px;
    margin: 0 2%;
    color: #FFFFFF;
}

.Contact{
    position: relative;
    top: -93px;
    /*background-color: hsl(135, 82%, 47%); 範囲を確認するため　後で削除する*/
    text-align: left;
    font-size: 20px;
    font-weight: bold;

    /*画像を挿入*/
    background-image: url(img/ロゴ_白抜き.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 56% 36%;
}

.Contact li{
    list-style: none;
    padding: 1.5px 0;
    margin-left: 60%;
    color: #FFFFFF;
}